<?xml version="1.0"?>
<configuration>
	<configSections/>
	<appSettings/>
	<connectionStrings/>
  
	<system.web>
    <machineKey
      validationKey="7D41602FE8732A1397838A31BD40B3A2B2537683B7A8EC95D6C19364765B0F7740EF96B7D442C066B841FDD7BF5283806497EF454591FEAF8DC4CB10F6CC0F99" decryptionKey="DC1BE38548657569FED10D5381A843009CFB91F24325A53C" validation="SHA1"/>
    <sessionState
      mode="SQLServer"
      sqlConnectionString="data source=.;user id=Demo;password=P@ssw0rd" timeout="20"/>
    <authentication mode="None" />
    <customErrors mode="Off"/>
  </system.web>
  
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service name="AspNetCompatiSvc.CalcService" behaviorConfiguration="AspNetCompatiSvc.CalcServiceBehavior">
				<endpoint address="" binding="customBinding" contract="AspNetCompatiSvc.ICalcService" bindingConfiguration="AspNetCompatiSvc.CalcServiceBinding"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AspNetCompatiSvc.CalcServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="AspNetCompatiSvc.CalcServiceBinding">
					<textMessageEncoding/>
					<httpTransport keepAliveEnabled="false"/>
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>
